{% extends 'base.html.twig' %}
{% block title %}Alibaba{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('index_css') }}
    {{ encore_entry_link_tags('slider_css') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('slider_js') }}
    {{ encore_entry_script_tags('onTop_js') }}
    {{ encore_entry_script_tags('smoothScroll_js') }}
    {{ encore_entry_script_tags('apparition_js') }}
{% endblock %}
{% block body %}
<main>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <div id="slider" class="slider">
        <div class="slide_slide">
            <video class="slider_video" autoplay muted width="100%">
                <source src="{{ asset('build/medias/video1.webm') }}" type="video/webm" />
            </video>
            <div class="slider_texte_position">
                <h1 class="slider_texte">Laissez vous guider <br>par nos experts. <br>Partout en Belgique.</h1><br>
                {#<a class="discover" href="{{ path('contact_us') }}">Contactez-nous</a><br><br>#}
            </div>
        </div>
        <div class="slide_slide">
            <video class="slider_video" autoplay muted width="100%">
                <source src="{{ asset('build/medias/video2.webm') }}" type="video/webm" />
            </video>
            <div class="slider_texte_position">
                <h1 class="slider_texte">Un service de qualité <br><b>sans engagements.</b></h1><br><br>
                {#<a class="discover" href="{{ path('contact_us') }}">Contactez-nous</a><br><br>#}
            </div>
        </div>
        <div class="slide_slide">
            <video class="slider_video" autoplay muted width="100%">
                <source src="{{ asset('build/medias/video3.webm') }}" type="video/webm" />
            </video>
            <div class="slider_texte_position">
                <h1 class="slider_texte">Des offres et des produits <br>défiants toutes concurrences.</h1><br><br>
                {#<a class="discover" href="{{ path('contact_us') }}">Contactez-nous</a><br><br>#}
            </div>
        </div>
<div class="left-arrow"></div>
<div class="right-arrow"></div>
    </div>

    <div class="cell-presentation">
        <div class="description">
            <div class="description-texte">L'experience Belge entre les mains des professionnels <b>depuis 20 ans</b></div>
        </div>
        <div class="texte-title-presentation">Économique - Écologique - Pratique</div>
        <div class="description-texte">Demandez une expertise <b>GRATUITEMENT</b></div>
        <div class="test">
            <div class="masonry slide"><br>
                <div class="cell-masonry slide">
                    <a {#href="{{ path('quote_request') }}"#}>
                        <figure class="masonry-brick">
                            <div class="text-centered">Afficher</div>
                            <img class="article-image" src="{{ asset('build/images/gallery/image1.jpg') }}" alt="image article Aluminium">
                        </figure>
                        <div style="color: black;font-weight:bold;">ÉTABLIR UN DEVIS</div>
                    </a>
                </div>
                <div class="cell-masonry slide">
                    <a {# href="{{ path('installation') }}" #}>
                        <figure class="masonry-brick">
                            <div class="text-centered">Afficher</div>
                            <img class="article-image" src="{{ asset('build/images/gallery/image2.jpg') }}"  alt="article image aluminium">
                        </figure>
                        <div style="color: black;font-weight:bold;">INSTALLATION</div>
                    </a>
                </div>
                <div class="cell-masonry slide">
                    <a {# href="{{ path('catalogue') }}" #}>
                        <figure class="masonry-brick">
                            <div class="text-centered">Afficher</div>
                            <img class="article-image" src="{{ asset('build/images/gallery/image3.jpg') }}" alt="article image aluminium">
                        </figure>
                        <div style="color: black;font-weight:bold;">CATALOGUE</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="descriptionbis">
        <div class="descriptionbis-image">
            <img style="width:100%;" src="{{ asset('build/images/gallery/ouvriers.jpg') }}" alt="ouvriers">
        </div>
        <div class="descriptionbis-texte">
            <h2>Notre savoir faire:</h2><br>
            <h3>loremlorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt voluptate amet ducimus quos nam error cum veniam quam eveniet explicabo, tenetur libero, necessitatibus debitis ad. Harum odio aut aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores aperiam maxime libero, esse a sapiente recusandae pariatur. Sed facilis, similique ratione dolores quae quis voluptatum laborum totam cum quasi.</h3>
        </div>
    </div>

    <h2 style="text-align:center;">Localisation du siège:</h2>
    <div style="text-align:center;">
        <iframe width="50%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.001014704151!2d4.23011917656001!3d50.496938871601266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c236c050039989%3A0x596184a46876f52d!2sRue%20des%20Brasseries%202%2C%207170%20Manage!5e0!3m2!1sfr!2sbe!4v1718135993320!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
{% endblock %}
